header img {
    width: calc(100vw / 6);
    height: auto;
}

header nav img {
    width: 12vw;
    height: auto;

}

header {
    background-color: #ef1c35;
}

body {
    background-color: black;
    color: white;
}

nav {
    background-color: #ef1c35;
    padding-right: 47px;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2.5vw;
}
